
#content-container{
    display: flex;
    justify-content: space-around;
    margin: auto;
    max-width: 1200px;
    color: #505961;
    padding: 5em;
    #content{
        margin-right: 2em;
        font-size: large;
        max-width: 500px;
    }
    button{
        background-color: #FEB34F;
        color: #505961;
        border: none;
        border-radius: 5px;
        padding: 1em;
        font-size: large;
        color: white;
    }
    img{
        height: 350px;
        width: 450px;  
    }
}
#features-container{
    background-color:#E1E2E4;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #505961;;
    h2{
        font-size: xx-large;
    }
    .flex{
        display: flex;
        width: 75%;
        padding: 1.5em;
        @media(min-width: 1400px){
            padding-left: 10em;
        }
    }
    .flex + .flex{
        width: 70%;
        margin-left: 8em;
    }
    .icon-container{
        display: flex;
        max-width: 500px;
        img{
            border: solid 1px gray;
            border-radius: 360px;
            padding: 1em;
            height: 50px;
            width: 50px;
            margin: 0 2em;
        }
    }
}