nav{
    background-color:#24282B;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6em;
    #logo-container{
        color:#FEB34F;
        display: flex;
        align-items: center;
        img{
            height: 30px;
            width: 30px;
            margin-right: 1em;
        }
    }
    #links-container{
        display: flex;
        align-items: center;
        ul{
            display: flex;
            li{
                list-style-type: none;
                padding-right: 1.5em;
            }
        }
        a{
            text-decoration: none;
        }
        button{
            background-color:#FEB34F;
            border: none;
            height: 40px;
            width: 100px;
            margin-left: 10px;
            border-radius: 5px;
        }
        a,
        button{
            color:#505961;
        }
    }
    #moon-container{
        position: relative;
        height: 30px;
        width: 30px;
        border-radius: 360px;
        background-color: #505961;
        &:hover{
            cursor: pointer;
        }
        #moon-icon,
        #sun-icon{
            height: 15px;
            width: 15px;
            position: absolute;
            right: 7px;
            top: 7px;
        }
        #sun-icon{
            display: none;
        }
    }
}
    
